.categories-container {
 background-color: crimson;
  padding: 5px;
}

.categories-container .category-container {
  background-color: aquamarine;
  padding: 5px;
}
.categories-container .category-container .category-body-container {
  background-color: cornflowerblue;
  padding: 5px;
}

